*.pyc
*.mo

common/locale/messages.pot
common/locale/en_US/LC_MESSAGES/messages.po
common/locale/zh_CN/LC_MESSAGES/messages.po

common/gae/libs/jianfan
common/gae/libs/json/books.json
common/gae/libs/json/succinct_trie.json
common/gae/libs/json/dicPrefixGroup.json
common/gae/libs/json/dicPrefixWordLists.json

common/app/js/services-dicPrefix.js
common/app/js/services-i18nStrings.js
common/app/js/ext
common/app/scripts/services/data/dicBooks.js
common/app/scripts/services/data/i18nStrings.js
