html, body { height: 100%; }
[ng-cloak] { display: none; }

/**
 * http://stackoverflow.com/questions/526294/how-might-i-force-a-floating-div-to-match-the-height-of-another-floating-div
 */

#allContainer {
  width: 100%;
}

#treeview {
  float: left;
  overflow: auto;
  font-family: Tahoma, Arial, serif;
  padding-bottom:100%;
  margin-bottom:-100%;
}

#viewwrapper {
  position: relative;
  float: left;
  padding-bottom:100%;
  margin-bottom:-100%;
}

/**
 * http://stackoverflow.com/questions/7778306/css-how-to-force-elements-to-100-of-remaining-available-space-of-parent-eleme
 */
#viewarrow {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid blue;
  margin-bottom: 3px;
  cursor: pointer;
}

#viewseparator {
  position: absolute;
  top: 17px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #EEE;
  cursor: col-resize;
}

#mainview {
  float: left;
  font-family: Tahoma, Arial, serif;
  min-height: 100%;
  padding-bottom:100%;
  margin-bottom:-100%;
}

.item {
  margin-bottom: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid #E0E0E0;
}

.item:hover {
  background-color: #F0F8FF;
}

.treeNode:hover {
  cursor: pointer;
  color: blue;
}

.childrenContainer {
  margin-left: .4em;
  padding-left: .4em;
  border-left: 1px dotted blue;
}

div.floating-buttons {
  padding-top: 2em;
}
div.floating-buttons > div {
  display: block;
  margin-top: 10px;
}

.dropdownLink {
  word-spacing: 0;
}

.dropdownMenu {
  border-radius: 5px;
  border-top-color: #C9D7F1;
  border-right-color: #36C;
  border-bottom-color: #36C;
  border-left-color: #A2BAE7;
  border-style: solid;
  border-width: 1px;
  z-index: 22;
  padding: 0;
  background-color: white;
  overflow: hidden;
  font-size: small;
  font-family: Arial;
  line-height: 2em;
  word-spacing: 0;
}

.dropdownMenuItem {
  font-size: 1.25em;
  color: #00C;
  padding: .25em 2em .25em 1em;
  text-decoration: none;
  background: white;
  display: block;
  cursor: pointer;
}

a.dropdownMenuItem:hover {
  background: #00C;
  color: white;
}
