<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <title>{{gettext "Pāli Dictionary"}}</title>
  <meta name="description" content="{{gettext "Pāli to English, Chinese, Japanese, Vietnamese, Burmese Dictionary"}}"/>
  <meta name="keywords" content="{{gettext "Pāli Dictionary"}}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{template "metaog" .}}
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  {{template "navbar" .}}
  {{template "setting" .}}
<div class="container">
  <input id="word" type="text" autofocus="autofocus"
         placeholder="{{gettext "Input Pāli Word"}}">
  <div id="main-content"></div>
  {{template "ime" .}}
</div>
  <div id="about" class="invisible">{{template "about" .}}</div>
  <script src="pali.js"></script>
</body>
</html>
