<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <title>Pāli Dictionary</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="{{.OgTitle}}" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="{{.OgDescription}}" />
  <meta property="og:image" content="{{.OgImage}}" />
  <meta property="og:url" content="{{.OgUrl}}" />
  <meta property="og:locale" content="{{.OgLocale}}" />
  <meta property="og:locale:alternate" content="en_US" />
  <meta property="og:locale:alternate" content="zh_TW" />
  <meta property="og:locale:alternate" content="vi_VN" />
  <meta property="og:locale:alternate" content="fr_FR" />
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  {{template "navbar" .}}
<div class="container">
  <input id="word" type="text" autofocus="autofocus"
         placeholder="Input Pāli Word">
  <div id="main-content"></div>
  {{template "ime" .}}
</div>
  <div id="about" class="invisible">{{template "about" .}}</div>
  <script src="pali.js"></script>
</body>
</html>
