app/BingSiteAuth.xml
app/google147e4ebe06d05f82.html
app/all_compiled.js

app/scripts/services/data/treeviewAll.js
gaelibs/json/treeviewAll.json

app/scripts/services/data/i18nTpk.js
gaelibs/json/translationInfo.json
gaelibs/json/canonTextTranslation.json

app/css/tipitaka-latn.css
app/css/app.min.css

gaelibs/romn
gaelibs/translation
common
GAEDevDatastore
GAEDevBlobstore
node_modules
build
