app/BingSiteAuth.xml
app/google147e4ebe06d05f82.html
app/all_compiled.js

app/scripts/services/data/treeviewAll.js
pylib/json/treeviewAll.json

app/scripts/services/data/i18nTpk.js
pylib/json/translationInfo.json
pylib/json/canonTextTranslation.json

app/css/tipitaka-latn.css
app/css/app.min.css

app/partials/trTree.html

pylib/romn
pylib/translation
common
GAEDevDatastore
GAEDevBlobstore
node_modules
build
