<div class="text-left alert alert-success">
  <h2>About This Website</h2>
  <p>This site is online <a href="http://en.wikipedia.org/wiki/Pali" target="_blank">Pāḷi</a> Dictionary (<em>Pāli to Chinese</em>, <em>Pāli to English</em>, <em>Pāli to Japanese</em>). The source of the dictionary comes from <a href="http://online-dhamma.net/anicca/pali-course/Pali-Chinese-English%20Dictionary.html" target="_blank">PECD</a>. The version is <em class="text-warning">Pali Dict Linux Web Ver 1.0</em>. The <a href="https://github.com/siongui/palidictionary" target="_blank">Source Code</a> of this website is located on <a href="https://github.com/" target="_blank">GitHub</a>. Any suggestion or questions? Welcome to <a href="mailto:siongui@gmail.com">contact me</a>.</p>
</div>
