<div class="form-horizontal" ng-init="isShowKeypad = false; isPaliInputFocused = true;">
  <div class="input-append">
    <input type="text" placeholder="Search" autocomplete="off" ng-model="paliWord" auto-suggest pali-keydown pali-focus="isPaliInputFocused = true" pali-blur="isPaliInputFocused = false">
    <button class="btn" type="button" ng-click="lookupWord()"><i class="icon-search"></i></button>
    <div id="suggestion-menu" class="suggest" ng-show="isShowSuggest()" ng-style="suggestMenuStyle">
      <div ng-repeat="word in matchedWords" title="{{word.content}}" ng-mouseenter="mouseenter(word)" ng-mouseleave="word.selected = false" ng-mousedown="suggestedWordClicked(word)" ng-class="{mouseInWord: word.selected}"><strong><b>{{prefix(word, originalPaliWord)}}</b></strong>{{suffix(word, originalPaliWord)}}</div>
    </div>
    <div class="suggest suggestedWordPreview" ng-show="isShowPreview()" ng-style="suggestPreviewStyle()">
      <span class="previewWordName">{{ currentSelectedWord() }}</span>
      <div class="shortDicExp"
           ng-repeat="bookExp in bookExps | dicLangSelect: [setting, booksIndex] | dicOrder: setting"
           ng-mousedown="lookupWord(bookExp)">
        <span>{{ booksIndex[bookExp[0]][2] }}</span>
        <span ng-bind-html-unsafe="getShortExp(bookExp, booksIndex)"></span>
      </div>
    </div>
  </div>
  <button id="btn-keypad" class="btn btn-link btn-mini" type="button" ng-click="isShowKeypad = !isShowKeypad" i18n str='Keyboard'>{$_("Keyboard")$}</button>
  <div ng-show="isShowKeypad" class="keypad" ng-style="keypadStyle" pali-draggable>
    <div class="btn-group btn-block"><input ng-click="addLtr(letter, paliWord)" name="{{letter}}" value="{{letter}}" type="button" class="btn btn-small" ng-repeat="letter in ['q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'p']"></div>
    <div class="btn-group btn-block"><input ng-click="addLtr(letter, paliWord)" name="{{letter}}" value="{{letter}}" type="button" class="btn btn-small" ng-repeat="letter in ['a', 's', 'd', 'f', 'g', 'h', 'j', 'k', 'l']"></div>
    <div class="btn-group btn-block"><input ng-click="addLtr(letter, paliWord)" name="{{letter}}" value="{{letter}}" type="button" class="btn btn-small" ng-repeat="letter in ['z', 'x', 'c', 'v', 'b', 'n', 'm']"></div>
    <div class="btn-group btn-block"><input ng-click="addLtr(letter, paliWord)" name="{{letter}}" value="{{letter}}" type="button" class="btn btn-small" ng-repeat="letter in ['ā', 'ḍ', 'ī', 'ḷ', 'ṁ', 'ṃ', 'ñ', 'ṇ', 'ṭ', 'ū', 'ŋ', 'ṅ']"></div>
  </div>
  <style>
.keypad {
  position: absolute;
  border: 1px solid #ccc;  
  padding: 10px;
  cursor: move;
  z-index: 21;
  text-align: center;
  background-color: #F0F8FF;
}

.keypad > div {
  display: block;
}

/* for suggestion menu and suggestion preview */
.suggest {
  border-top-color: #C9D7F1;
  border-right-color: #36C;
  border-bottom-color: #36C;
  border-left-color: #A2BAE7;
  border-style: solid;
  border-width: 1px;
  z-index: 10;
  padding: 0;
  background-color: white;
  overflow: hidden;
  position: absolute;
  text-align: left;
  font-size: large;
  border-radius: 4px;
  margin-top: 1px;
  line-height: 1.25em;
}

.mouseInWord {
  background: #00C;
  color: white;
  cursor: pointer;
}

/* for suggestion preview */
.suggestedWordPreview {
  width: 32em;
  text-align: left;
  /* http://stackoverflow.com/questions/12128465/twitter-bootstrap-break-word-not-work-on-dropdown-menu */
  word-wrap: break-word;
  white-space: normal;
}

.previewWordName {
  color: GoldenRod;
  font-weight: bold;
  font-size: 1.5em;
  margin: .5em;
}

div.shortDicExp:hover {
  font-size: 1.5em;
  line-height: 1em;
  background-color: #F0F8FF;
  border: 1px dotted aqua;
}

div.shortDicExp > span:first-child {
  color: red;
}
  </style>
</div>
