<div ng-show="isShowSetting" class="alert alert-info text-left" ng-cloak>
<input type="checkbox" ng-model="setting.isShowWordPreview"/> <span i18n str='Input Word Explanation Preview'>{$_("Input Word Explanation Preview")$}</span><br />
<br />
<div>
<span i18n str='What Languages of Dictionaries to Show?'>{$_("What Languages of Dictionaries to Show?")$}</span><br />
<input type="checkbox" checked="checked" ng-model="setting.p2en"/> <span i18n str='Pāli-English'>{$_("Pāli-English")$}</span><br />
<input type="checkbox" checked="checked" ng-model="setting.p2ja"/> <span i18n str='Pāli-Japanese'>{$_("Pāli-Japanese")$}</span><br />
<input type="checkbox" checked="checked" ng-model="setting.p2zh"/> <span i18n str='Pāli-Chinese'>{$_("Pāli-Chinese")$}</span><br />
<input type="checkbox" checked="checked" ng-model="setting.p2vi"/> <span i18n str='Pāli-Vietnamese'>{$_("Pāli-Vietnamese")$}</span><br />
<input type="checkbox" checked="checked" ng-model="setting.p2my"/> <span i18n str='Pāli-Burmese'>{$_("Pāli-Burmese")$}</span><br />
</div>
<br />
<span i18n str='The Order of Languages of Dictionaries to Show?'>{$_("The Order of Languages of Dictionaries to Show?")$}</span><br />
<select ng-model="setting.dicLangOrder" class="span6">
  <option value="hdr" selected="selected" i18n str='According to Language Settings in Browser'>{$_("According to Language Settings in Browser")$}</option>
  <option value="en" i18n str='English First'>{$_("English First")$}</option>
  <option value="ja" i18n str='Japanese First'>{$_("Japanese First")$}</option>
  <option value="zh" i18n str='Chinese First'>{$_("Chinese First")$}</option>
  <option value="vi" i18n str='Vietnamese First'>{$_("Vietnamese First")$}</option>
  <option value="my" i18n str='Burmese First'>{$_("Burmese First")$}</option>
</select>
</div>
