<div>
<div style="padding: 1em;">
  &lt;&lt; 
  <a href="{{ reqPath | originalPaliLink(False) }}" 
     i18n str="Original Pāḷi Text">
    {{_("Original Pāḷi Text")}}
  </a>
  {% if trInfo %}
    {% if trInfo.translationURL %}
      <div class="canon2">
        <a target="_blank" 
           href="{{ trInfo.translationURL }}"
           i18n str="URL of the Translation">
          {{_("URL of the Translation")}}
        </a>
      </div>
    {% endif %}
    {% if trInfo.translationCopyrightURL %}
      <div class="canon2">
        <a target="_blank" 
           href="{{ trInfo.translationCopyrightURL }}" 
           i18n str="Copyright URL of the Translation">
          {{_("Copyright URL of the Translation")}}
        </a>
      </div>
    {% endif %}
    {% if trInfo.isExcerpt %}
      <div class="canon2">
        <h3 i18n str="Only Partial Translation Available">
          {{_("Only Partial Translation Available")}}
        </h3>
      </div>
    {% endif %}
  {% endif %}
</div>

{{ contrastReadings }}

<style>
.canon2 {
  background-color: #d9edf7;
  text-align: center;
  padding: .25em;
  color: #3a87ad;
  border-radius: 10px;
}
</style>
</div>
