<!doctype html>
<html ng-app="paliTipitaka">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="Pāli Tipiṭaka, Pali Tipitaka, 巴利三藏, 南伝大蔵経"/>
  <meta name="description" content="Pāli Tipiṭaka, Pali Tipitaka, 巴利三藏, 南伝大蔵経"/>
  <title>{$ htmlTitle $}Pāḷi Tipiṭaka ({$_("Pali Tipitaka")$})</title>
  <!-- _("Translation") -->
  <style>{% include 'app.min.css' %}</style>
  <script type="text/ng-template" id="/partials/info.html">{% include 'info.html' %}</script>
  <script type="text/ng-template" id="/partials/about.html">{% include 'about.html' %}</script>
  <script type="text/ng-template" id="/partials/canon.html">{% include 'canon.html' %}</script>
  <script type="text/ng-template" id="/partials/tooltipContent.html">{% include 'tooltipContent.html' %}</script>
</head>
<body>

<div id="hideAll" style="position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 99; display: none; background-color: #F0F8FF; text-align: center; color: blue; font-size: 2em;" ng-hide="initOK">
Đang lấy dữ liệu ...<br />
Chargement ...<br />
Loading ...<br />
載入中 ...<br />
载入中 ...<br />
</div>
<script type="text/javascript">document.getElementById("hideAll").style.display = "block";</script> 

<div  id="allContainer">
  {% include 'mainbar.html' %}
  {% include 'setting.html' %}
  {% if not isDevServer %}<gcse:searchbox-only></gcse:searchbox-only>{% endif %}

  <div style="width: 100%; overflow: hidden;">
    <div id="treeview">
      <div treeview></div>
    {% if serverEnv == 'appspot' %}
      {% if isDevServer %}
        {% include 'devlinks.html' %}
      {% else %}
        {% include 'buttons.html' %}
      {% endif %}
    {% endif %}
    </div>
    <div id="viewwrapper">
      <div id="viewarrow"></div>
      <div id="viewseparator"></div>
    </div>
    <div id="mainview"><div ng-view>
      {% if isIncludeAbout %}
        {% include 'about.html' %}
      {% endif %}
      {$ pageHtml $}
    </div></div>
    <div style="clear: both;"></div>
  </div>
</div>

<p style="text-align: right;"><small>
  Powered by <a href="http://webpy.org/" target="_blank">web.py</a>, 
  <a href="http://jinja.pocoo.org/" target="_blank">Jinja2</a>, 
  <a href="http://angularjs.org/" target="_blank">AngularJS</a>, 
    {% if serverEnv == 'appspot' %}
  <a href="https://developers.google.com/appengine/" target="_blank">Google App Engine</a>.
    {% endif %}
</small></p>

<div id="locale" style="display:none">{$ userLocale $}</div>
<div id="locales" style="display:none">{$ locales $}</div>
<div id="localeLanguageMapping" style="display:none">{$ localeLanguageMapping $}</div>
<div id="langQs" style="display:none">{$ langQs $}</div>


<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
<script src="/js/tipitaka.js"></script>
{% if not isDevServer %}
<script>
(function() {
  var cx = '000759460633137666077:ohvoelt1nog';
  var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
  gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
      '//www.google.com/cse/cse.js?cx=' + cx;
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
})();
</script>
{% endif %}

{% if serverEnv == 'appspot' %}
  {% if isTrack %}{% include 'analytics.html' %}{% endif %}
{% endif %}

</body>
</html>
