{{define "about"}}
<div class="about-description">
  <h2>{{gettext "About This Website"}}</h2>
  <p>This site is online <a href="https://en.wikipedia.org/wiki/Pali"
     target="_blank">Pāḷi</a> Dictionary (<em>Pāli to Chinese</em>,
     <em>Pāli to English</em>, <em>Pāli to Japanese</em>,
     <em>Pāli-Vietnamese</em>, <em>Pāli-Burmese</em>).
     The source of the dictionaries come from
     <a href="http://dhamma.sutta.org/pali-course/Pali-Chinese-English%20Dictionary.html"
     target="_blank">Pali Canon E-Dictionary Version 1.94 (PCED)</a>.
     The source code of this website is at
     <a href="https://github.com/siongui/pali" target="_blank">pali</a>
     repository on GitHub, and the data of this website is at
     <a href="https://github.com/siongui/data" target="_blank">data</a>
     repository on GitHub. Any suggestion or questions? Welcome to
     <a href="mailto:siongui@gmail.com">contact me</a>.
  </p>
</div>
{{end}}
