{{define "navbar"}}
<nav class="top-nav" role="navigation">
  <div class="nav-header-window">
    <div class="toggleable-window visible-xs">
      <input type="checkbox" class="toggle" id="punch" checked>
      <label for="punch">&equiv;</label>
      <div>
        <a href="{{.TipitakaURL}}" target="_blank"><span data-default-string="Canon">Canon</span></a>
        <a class="about-link" href="#"><span data-default-string="About">About</span></a>
        <a class="setting-link" href="#"><span class="invisible">&#9660;</span><span>&#9658;</span><span data-default-string="Setting">Setting</span></a>
        <span><a class="mobile-lang-select" data-lang="en" href="#">English</a></span>
        <span><a class="mobile-lang-select" data-lang="zh_TW" href="#">傳統中文</a></span>
        <span><a class="mobile-lang-select" data-lang="vi_VN" href="#">Tiếng Việt</a></span>
        <span><a class="mobile-lang-select" data-lang="fr_FR" href="#">Français</a></span>
      </div>
    </div>
    <header><h1><a href="https://siongui.github.io/pali-dictionary/"><span data-default-string="Pāli Dictionary">Pāli Dictionary</span></a></h1></header>
  </div><!--
--><div class="nav-links hidden-xs">
    <ul>
      <li><a href="{{.TipitakaURL}}" target="_blank"><span data-default-string="Canon">Canon</span></a></li>
      <li><a class="about-link" href="#"><span data-default-string="About">About</span></a></li>
      <li><a class="setting-link" href="#"><span class="invisible">&#9660;</span><span>&#9658;</span><span data-default-string="Setting">Setting</span></a></li>
    </ul>
  </div><!--
--><div class="nav-lang-select hidden-xs">
    <select id="lang-select">
      <option value="en">English</option>
      <option value="zh_TW">傳統中文</option>
      <option value="vi_VN">Tiếng Việt</option>
      <option value="fr_FR">Français</option>
    </select>
  </div>
</nav>
{{end}}
