<div class="floating-buttons">
 <div class="g-plusone" data-size="tall" data-href="http://epalitipitaka.appspot.com/"></div>
 <div class="fb-like" data-href="http://epalitipitaka.appspot.com/" data-send="true" data-layout="box_count" data-show-faces="true"></div>
 <div>
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://epalitipitaka.appspot.com/" data-count="vertical">Tweet</a>
 </div>
</div>
<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
