<div>
  <div ng-show="isShowLoading" style="padding: .5em 0 0 1em;"><span i18n str="Loading">{$_("Loading")$}</span> {{text}} ...</div>
  <div ng-repeat="node in nodes" style="padding: .5em 0 0 1em;"><a href="{{node.path}}">{{node.text}}</a></div>
  <div ng-show="isTranslationAvailableLinks" style="padding: 1em;" ng-init="isShowLocaleTranslations = false;">
    <a href="javascript:void(0);" style="color: blue; text-decoration: none;" ng-click="isShowLocaleTranslations = !isShowLocaleTranslations;"><span style="font-family: Tahoma,Arial,serif;" ng-show="isShowLocaleTranslations">&#9660;</span><span style="font-family: Tahoma,Arial,serif;" ng-hide="isShowLocaleTranslations">&#9658;</span><span i18n str="Translation of This Pāḷi Text">{$_("Translation of This Pāḷi Text")$}</span></a>
    <div ng-show="isShowLocaleTranslations">
      <div ng-repeat="localeTranslation in localeTranslations" style="padding: 1em; line-height: 1.5em; background-color: #FFFBE8; border: 1px solid #FFF1A9; border-radius: 10px; margin-bottom: 5px;">
        <a href="javascript:void(0);">{{ localeTranslation.locale | translate }}</a>:
        <div ng-repeat="translation in localeTranslation.translations" ng-init="path = getPath(translation.xmlFilename)" style="padding-left: 1em;">
          <div ng-repeat="translatorCode in translation.translatorCodes" ng-init="translator = getTranslator(localeTranslation.locale, translatorCode)">
            <a href="{{ path }}/{{ localeTranslation.locale }}/{{ translator }}">{{ translator }}</a>&nbsp;
            (<a href="{{ path }}/{{ localeTranslation.locale }}/{{ translator }}/ContrastReading" i18n str="Contrast Reading">{$_("Contrast Reading")$}</a>)
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="isShowOriPaliLink" style="padding: 1em;">&lt;&lt; <a href="{{oriPaliLink}}" i18n str="Original Pāḷi Text">{$_("Original Pāḷi Text")$}</a></div>
  <div bind-xml-doms><!-- $watch and append scope.xmlDoms (jqLite element) if changes --></div>
</div>
