<div>
<input type="button" value="768x1024" onclick="window.open('http://localhost:8080/','_blank','width=768, height=1024')">
<input type="button" value="320x480" onclick="window.open('http://localhost:8080/','_blank','width=320, height=480')">
<input type="button" value="320x568" onclick="window.open('http://localhost:8080/','_blank','width=320, height=568')">
<input type="button" value="720x1280" onclick="window.open('http://localhost:8080/','_blank','width=720, height=1280')">
<input type="button" value="480x800" onclick="window.open('http://localhost:8080/','_blank','width=480, height=800')">
<br />
<input type="button" value="768x1024" onclick="window.open('http://epalitipitaka.appspot.com/?track=no','_blank','width=768, height=1024')">
<input type="button" value="320x480" onclick="window.open('http://epalitipitaka.appspot.com/?track=no','_blank','width=320, height=480')">
<input type="button" value="320x568" onclick="window.open('http://epalitipitaka.appspot.com/?track=no','_blank','width=320, height=568')">
<input type="button" value="720x1280" onclick="window.open('http://epalitipitaka.appspot.com/?track=no','_blank','width=720, height=1280')">
<input type="button" value="480x800" onclick="window.open('http://epalitipitaka.appspot.com/?track=no','_blank','width=480, height=800')">
<br />
<a target="_blank" href="http://epalitipitaka.appspot.com/?track=no">website</a><br />
<a target="_blank" href="http://1.epalitipitaka.appspot.com/?track=no">old website</a><br />
<a target="_blank" href="https://github.com/siongui/pali/tree/master/tipitaka">source code</a><br />
<a target="_blank" href="https://github.com/siongui/tipitaka/tree/master/app">old source code</a><br />
<a target="_blank" href="https://github.com/siongui/palidictionary/tree/master/app">old pali code</a><br />
<a target="_blank" href="http://code.google.com/p/pali/source/browse/">old palidic code</a><br />
<a target="_blank" href="https://appengine.google.com/">GAE dashboard</a><br />
<a target="_blank" href="https://developers.google.com/appengine/docs/python/overview">GAE Doc</a><br />
<a target="_blank" href="http://docs.angularjs.org/api/">AngularJS API</a><br />
<a target="_blank" href="http://docs.angularjs.org/guide/">AngularJS Guide</a><br />
<a target="_blank" href="http://twitter.github.com/bootstrap/">Bootstrap</a><br />
<a target="_blank" href="http://angular-ui.github.com/bootstrap/">UI Bootstrap</a><br />
<a target="_blank" href="http://webapp-improved.appspot.com/guide/routing.html">webapp2 URI routing</a><br />
<a target="_blank" href="http://jinja.pocoo.org/docs/api/">API - jinja2.2.7</a><br />
<a target="_blank" href="http://jinja.pocoo.org/docs/templates/">Template Designer Documentation - jinja2.2.7</a><br />
<a target="_blank" href="http://jinja.pocoo.org/docs/extensions/">jinja2 i18n</a><br />
<a target="_blank" href="http://webapp-improved.appspot.com/tutorials/i18n.html">Internationalization and localization with webapp2</a><br />
<a target="_blank" href="http://tmpvar.com/markdown.html">GitHub Flavored Markdown - Live Preview</a><br />
<a target="_blank" href="http://www.howtogomo.com/">GoMo</a><br />
</div>
