<div>
  <div ng-include="'/partials/about.html'"></div>
  <div class="allTrans">
    <h3 style="color: olive" i18n str="All Translations">{$_("All Translations")$}</h3>
    <div ng-repeat="localeTranslation in localeTranslations" style="padding-left: 1em; padding-bottom: 1em;">
      <a href="javascript:void(0);" ng-init="isShowLocaleTranslation = false;" ng-click="isShowLocaleTranslation = !isShowLocaleTranslation;" style="text-decoration: none;"><span style="font-family: Tahoma,Arial,serif;" ng-show="isShowLocaleTranslation">&#9660;</span><span style="font-family: Tahoma,Arial,serif;" ng-hide="isShowLocaleTranslation">&#9658;</span>{{ localeTranslation.locale | translate }}</a>:
      <div ng-repeat="translation in localeTranslation.translations" ng-show="isShowLocaleTranslation" class="allTrans2">
        <a href="{{ urlLocaleInPath }}{{ translation.path }}" class="allTrans3">
          <span ng-repeat="canonName in translation.canonNames">{{ canonName }}<sup><small><span style="color: red;">{{ translation.translatedCanonNames[$index][i18nLocale] }}</span></small></sup><span ng-show="!$last">,</span>&nbsp;</span>
        </a>
        <div ng-repeat="translator in translation.translators" style="padding-left: 1em;">
          <a href="{{ urlLocaleInPath }}{{ translation.path }}/{{localeTranslation.locale}}/{{ translator }}">{{ translator }} <span i18n str="Translation">{$_("Translation")$}</span></a>&nbsp;
          (<a href="{{ urlLocaleInPath }}{{ translation.path }}/{{localeTranslation.locale}}/{{ translator }}/ContrastReading" i18n str="Contrast Reading">{$_("Contrast Reading")$}</a>)
        </div>
      </div>
    </div>
  </div>
  <style>
.allTrans {
  margin: 1em;
  text-align: left;
  line-height: 1.5em;
  padding: .5em;
  background-color: #FFFBE8;
  border: 1px solid #FFF1A9;
  border-radius: 10px;
}
.allTrans2 {
  padding-left: 1em;
  margin-top: 0.25em;
  border: 1px dotted rgb(224, 224, 224);
  border-radius: 10px;
}
.allTrans3 {
  text-decoration: none;
  background-color: #FFF1A9;
  padding: 3px;
}
  </style>
</div>
