<div style="background-color: #FFF4C8; line-height: 2em; word-spacing: 1em; padding-left: 1em; border-radius: 10px;" ng-cloak>
  <a href="/" i18n str='Home'>{$_("Home")$}</a>
  <a href="http://palidictionary.appspot.com/" target="_blank" i18n str='Dictionary'>{$_("Dictionary")$}</a>
  <a href="javascript:void(0);" ng-click="isShowSetting = !isShowSetting" style="text-decoration: none;"><span style="font-family: Tahoma,Arial,serif;" ng-show="isShowSetting">&#9660;</span><span style="font-family: Tahoma,Arial,serif;" ng-hide="isShowSetting">&#9658;</span><span style="text-decoration: underline;" i18n str='Setting'>{$_("Setting")$}</span></a>
  {% if urlLocale %}
    <a href="/{$ urlLocale  $}/canon" i18n str='Browse'>{$_("Browse")$}</a>
  {% else %}
    <a href="/canon" i18n str='Browse'>{$_("Browse")$}</a>
  {% endif %}
  <div dropdown classlink="dropdownLink" linktext="{{ i18nLocale | translate }}▼" classmenu="dropdownMenu">
    <a href="/en_US/" class="dropdownMenuItem">English</a>
    <a href="/zh_TW/" class="dropdownMenuItem">中文 (繁體)</a>
    <a href="/zh_CN/" class="dropdownMenuItem">中文 (简体)</a>
  </div>
</div>
