<div style="background-color: #FFF4C8; line-height: 2em; word-spacing: 1em; padding-left: 1em;" ng-cloak>
  <a href="/" i18n str='Home'>{$_("Home")$}</a>
  <a href="http://palidictionary.appspot.com/" target="_blank" i18n str='Dictionary'>{$_("Dictionary")$}</a>
  <a href="javascript:void(0);" ng-click="isShowSetting = !isShowSetting" i18n str='Setting'>{$_("Setting")$}</a>
  <select ng-model="langSelect">
    <option value="en_US">English</option>
    <option value="zh_TW">中文 (繁體)</option>
    <option value="zh_CN">中文 (简体)</option>
  </select>
</div>
