<div style="padding: .5em">
  <div ng-show="isShortExp" ng-style="shortExpStyle">
    <a class="wordShortDicExp" href="{{wordUrl(currentSelectedWord)}}" target="_blank">
      {{currentSelectedWord}}
    </a>
    <div ng-repeat="bookExp in dicWordExps | dicLangSelect: [setting, booksIndex] | dicOrder: [setting, booksIndex]">
      <span style="color: red;">{{ booksIndex[bookExp[0]][2] }}</span>
      <span ng-bind-html-unsafe="getShortExp(bookExp, booksIndex)"></span>
    </div>
  </div>

  <div ng-show="isLookingUp">
    <span i18n str="Looking up">{$_("Looking up")$}</span>
    &nbsp;<span style="color: GoldenRod;">{{currentSelectedWord}}</span>
    &nbsp;...
  </div>

  <div ng-show="isNoSuchWord" i18n str="No Such Word">{$_("No Such Word")$}</div>

  <div ng-show="isNetErr" i18n str="Internet Connection Error">{$_("Internet Connection Error")$}</div>

  <div ng-show="isPossibleWords" ng-init="currentIndex = -1">
    <div style="float: left;">
      <input type="text" size="20" autocomplete="off" ng-model="paliWord" possible-words>
      <div ng-repeat="possibleWord in possibleWords"
           ng-mouseleave="$parent.currentIndex = -1;"
           ng-mouseenter="$parent.currentIndex = $index; $parent.currentPossibleWord = possibleWord;"
           ng-class="{mouseInWord: ($parent.currentIndex === $index)}"
           ng-click="redirectToDicSite(wordUrl(possibleWord))">
        {{possibleWord}}
      </div>
    </div>
    <div ng-show="isShowRight"
         style="float: left;"
         ng-style="currentPossibleWordPreviewStyle">
      <a class="wordShortDicExp" href="{{ wordUrl(currentPossibleWordString) }}" target="_blank">
        {{ currentPossibleWordString }}
      </a>
      <div ng-repeat="bookExp in rightDicWordExps | dicLangSelect: [setting, booksIndex] | dicOrder: [setting, booksIndex]">
        <span style="color: red;">{{ booksIndex[bookExp[0]][2] }}</span>
        <span ng-bind-html-unsafe="getShortExp(bookExp, booksIndex)"></span>
      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
<style>
.wordShortDicExp {
  color: GoldenRod;
  font-weight: bold;
  font-size: 1.5em;
  margin: .5em;
  text-decoration: none;
}
.mouseInWord {
  background: #00C;
  color: white;
  cursor: pointer;
}
</style>
</div>
