<div>
{% if isPaliText %}
  {% for localeTranslation in i18nLinks['localeTranslations'] %}
    <div class="canon1">
      <a href="javascript:void(0);">{{ localeTranslation.translationLocale | translateLocale }}</a> :
      {% for localeXmlTranslation in localeTranslation['localeXmlTranslations'] %}
        <div style="padding-left: 1em;">
           <a href="{{ reqPath }}/{{ localeTranslation.translationLocale }}/{{ localeXmlTranslation['translator'] }}">
             {{ localeXmlTranslation['translator'] }} {{_("Translation")}}
           </a>&nbsp;
           (<a href="{{ reqPath }}/{{ localeTranslation.translationLocale }}/{{ localeXmlTranslation['translator'] }}/ContrastReading">{{_("Contrast Reading")}}</a>)
        </div>
      {% endfor %}
    </div>
  {% endfor %}

  {{ body }}

{% else %}
  {% for child in childs %}
    <a href="{{ reqPath }}/{{ child['subpath'] }}">{{ child['text'] }}</a>
  {% endfor %}
{% endif %}
  <style>
.canon1 {
  padding: 1em;
  line-height: 1.5em;
  background-color: #FFFBE8;
  border: 1px solid #FFF1A9;
  border-radius: 10px;
  margin-bottom: 5px;
}
.canon2 {
  background-color: #d9edf7;
  text-align: center;
  padding: .25em;
  color: #3a87ad;
  border-radius: 10px;
}
  </style>
</div>
