{% for localeTranslation in localeTranslations %}
  {{ localeTranslation['translationLocale'] | translateLocale }}
  {% for translation in localeTranslation['translations'] %}
    <a href="{{ translation.xmlFilename | xmlFilename2Path }}">{{ translation.xmlFilename }}</a>
    {% for localeXmlTranslation in translation['localeXmlTranslations'] %}
      {{ localeXmlTranslation.translator }}
      {% if localeXmlTranslation.excerpt %}
        <span>[{{_("Excerpt")}}]</span>&nbsp;
      {% endif %}
      <a href="{% if urlLocale %}/{{ urlLocale }}{% endif %}{{ translation.xmlFilename | xmlFilename2Path }}/{{ localeTranslation['translationLocale'] }}/{{ localeXmlTranslation.translator }}">{{_("Translation")}}</a>
      (<a href="{% if urlLocale %}/{{ urlLocale }}{% endif %}{{ translation.xmlFilename | xmlFilename2Path }}/{{ localeTranslation['translationLocale'] }}/{{ localeXmlTranslation.translator }}/ContrastReading">{{_("Contrast Reading")}}</a>)
    {% endfor %}
  {% endfor %}
{% endfor %}
