<div>
<div class="allTrans">
<h3 style="color: olive" i18n str="All Translations">{{_("All Translations")}}</h3>
{% for localeTranslation in localeTranslations %}
  <div style="padding-left: 1em; padding-bottom: 1em;">
  <a href="javascript:void(0);"
     ng-init="isShowLocaleTranslation = false;"
     ng-click="isShowLocaleTranslation = !isShowLocaleTranslation;"
     style="text-decoration: none;">
    <span ng-show="isShowLocaleTranslation">&#9660;</span>
    <span ng-hide="isShowLocaleTranslation">&#9658;</span>
    {{ localeTranslation['translationLocale'] | translateLocale }}
  </a>:
  <div ng-show="isShowLocaleTranslation" class="allTrans2">
  {% for translation in localeTranslation['translations'] %}
    <a href="{% if urlLocale %}/{{ urlLocale }}{% endif %}{{ translation.path }}">{{ translation.xmlFilename }}</a>
    {% for localeXmlTranslation in translation['localeXmlTranslations'] %}
      {{ localeXmlTranslation.translator }}
      {% if localeXmlTranslation.excerpt %}
        <span>[{{_("Excerpt")}}]</span>&nbsp;
      {% endif %}
      <a href="{% if urlLocale %}/{{ urlLocale }}{% endif %}{{ translation.path }}/{{ localeTranslation['translationLocale'] }}/{{ localeXmlTranslation.translator }}">{{_("Translation")}}</a>
      (<a href="{% if urlLocale %}/{{ urlLocale }}{% endif %}{{ translation.path }}/{{ localeTranslation['translationLocale'] }}/{{ localeXmlTranslation.translator }}/ContrastReading">{{_("Contrast Reading")}}</a>)
    {% endfor %}
  {% endfor %}
  </div>
  </div>
{% endfor %}
</div>
<style>
.allTrans {
  margin: 1em;
  text-align: left;
  line-height: 1.5em;
  padding: .5em;
  background-color: #FFFBE8;
  border: 1px solid #FFF1A9;
  border-radius: 10px;
  font-family: Tahoma,Arial,serif;
}
.allTrans2 {
  padding-left: 1em;
  margin-top: 0.25em;
  border: 1px dotted rgb(224, 224, 224);
  border-radius: 10px;
}
.allTrans3 {
  text-decoration: none;
  background-color: #FFF1A9;
  padding: 3px;
}
</style>
</div>
