<div id="brdic">
<b>{{_("Browse Dictionary")}}</b><br />
<div id="prefixesDiv">
<a href="/browse/a">a</a>
<a href="/browse/ā">ā</a>
<a href="/browse/b">b</a>
<a href="/browse/c">c</a>
<a href="/browse/d">d</a>
<a href="/browse/ḍ">ḍ</a>
<a href="/browse/e">e</a>
<a href="/browse/g">g</a>
<a href="/browse/h">h</a>
<a href="/browse/i">i</a>
<a href="/browse/ī">ī</a>
<a href="/browse/j">j</a>
<a href="/browse/k">k</a>
<a href="/browse/l">l</a>
<a href="/browse/ḷ">ḷ</a>
<a href="/browse/m">m</a>
<a href="/browse/n">n</a>
<a href="/browse/ñ">ñ</a>
<a href="/browse/o">o</a>
<a href="/browse/p">p</a>
<a href="/browse/r">r</a>
<a href="/browse/s">s</a>
<a href="/browse/t">t</a>
<a href="/browse/ṭ">ṭ</a>
<a href="/browse/u">u</a>
<a href="/browse/ū">ū</a>
<a href="/browse/v">v</a>
<a href="/browse/y">y</a>
</div>
</div>
