<div id="about" style="display:none"><br /><br />
<div style="padding-left: 30px; padding-right: 30px;">
{{_("The dictionary come from")}} <a href="http://online-dhamma.net/anicca/pali-course/Pali-Chinese-English%20Dictionary.html">{{_("Pali-Chinese-English Dictionary")}}</a>. {{_("The version is")}} "{{_("Pali Dict Linux Web Ver 1.0")}}". {{_("This site is still under development")}} {{_("so errors may be encountered")}}. {{_("If any questions or suggestions")}}, {{_("please")}} <a href="mailto:siongui@gmail.com">{{_("contact me")}}</a>.
</div>
</div>

<div id="link" style="display:none"><br /><br />
<div style="padding-left: 30px; padding-right: 30px; text-align: left;">
{{_("Pāli Dictionary")}}:<br />
<a href="http://dsal.uchicago.edu/dictionaries/pali/">The Pali Text Society's Pali-English dictionary</a><br />
<a href="http://pali.hum.ku.dk/cpd/search.html">Critical Pali Dictionary</a><br />
<a href="http://www.dicts.info/dictionary.php?l1=english&amp;l2=pali">English to Pali dictionary</a><br />
<a href="http://www.budsas.org/ebud/dict-ep/index.htm">English-Pali Dict - Metta Net</a><br />
<br />
<a href="http://en.wikipedia.org/wiki/P%C4%81li_Canon">{{_("Pāli Canon")}}</a>:<br />
<a href="http://www.tipitaka.org/">Pāḷi Tipiṭaka</a><br />
{{_("Tipiṭaka")}} (<a href="http://www.metta.lk/tipitaka/">1</a>, <a href="http://www.accesstoinsight.org/tipitaka/sltp/">2</a>) ({{_("Sri Lankan version")}})<br />
{{_("Tipiṭaka")}} (<a href="http://www.84000.org/">1</a>, <a href="http://www.bhodhiyana.org/tipitaka_library.html">2</a>) ({{_("Thai version")}})<br />
<a href="http://studies.worldtipitaka.org/">{{_("Tipiṭaka")}}</a> ({{_("Burmese version")}})<br />
<br />
{{_("Links about Buddhism")}}:<br />
<a href="http://www.theravadacn.org/DhammaIndex2.htm">覺醒之翼</a><br />
<a href="http://www.wpp-branches.net/cn/index.php">巴蓬寺分院</a><br />
<a href="http://www.dhamma.net.cn/">覺悟之路</a><br />
<a href="http://www.accesstoinsight.org/">Access to Insight</a><br />
<a href="http://www.buddha-vacana.org/">Buddha Vacana</a><br />
<br />
{{_("Source Code")}} : <a href="https://code.google.com/p/pali/">pali</a> {{_("project on Google Code")}}<br />
{{_("Dictionary")}} : {{_("from")}} "{{_("Pali Dict Linux Web Ver 1.0")}}" {{_("on")}} <a href="http://online-dhamma.net/anicca/pali-course/Pali-Chinese-English%20Dictionary.html">{{_("Pali-Chinese-English Dictionary")}}</a>
</div>
</div>
