<div id="keyboard"> 

<div id="row1">
<input name="q" type="button" value="q" />
<input name="w" type="button" value="w" />
<input name="e" type="button" value="e" />
<input name="r" type="button" value="r" />
<input name="t" type="button" value="t" />
<input name="y" type="button" value="y" />
<input name="u" type="button" value="u" />
<input name="i" type="button" value="i" />
<input name="o" type="button" value="o" />
<input name="p" type="button" value="p" />
</div>

<div id="row2">
<input name="a" type="button" value="a" />
<input name="s" type="button" value="s" />
<input name="d" type="button" value="d" />
<input name="f" type="button" value="f" />
<input name="g" type="button" value="g" />
<input name="h" type="button" value="h" />
<input name="j" type="button" value="j" />
<input name="k" type="button" value="k" />
<input name="l" type="button" value="l" />
</div>
 
<div id="row3">
<input name="z" type="button" value="z" />
<input name="x" type="button" value="x" />
<input name="c" type="button" value="c" />
<input name="v" type="button" value="v" />
<input name="b" type="button" value="b" />
<input name="n" type="button" value="n" />
<input name="m" type="button" value="m" />
</div>
 
<div id="row4">
<input name="ā" type="button" value="ā" />
<input name="ḍ" type="button" value="ḍ" />
<input name="ī" type="button" value="ī" />
<input name="ḷ" type="button" value="ḷ" />
<input name="ṁ" type="button" value="ṁ" />
<input name="ṃ" type="button" value="ṃ" />
<input name="ñ" type="button" value="ñ" />
<input name="ṇ" type="button" value="ṇ" />
<input name="ṭ" type="button" value="ṭ" />
<input name="ū" type="button" value="ū" />
<input name="ŋ" type="button" value="ŋ" />
<input name="ṅ" type="button" value="ṅ" />
</div>

</div>
