app/all_compiled.js
app/BingSiteAuth.xml
app/google147e4ebe06d05f82.html
app/css/app.min.css

pylib/json/books.json
pylib/json/succinct_trie.json
pylib/paliwords/
pylib/prefixWordsHtml/

common
GAEDevDatastore
node_modules
build
